<table bgcolor="lightgrey" align="center"
       cellspacing="21" cellpadding="21">

    <caption align="top">

    </caption>

    <thead>
    <tr>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td id="MonthMon1"></td>
        <td id="MonthTue1"></td>
        <td id="MonthWed1"></td>
        <td id="MonthThu1"></td>
        <td id="MonthFri1"></td>
        <td id="MonthSat1">1</td>
        <td id="MonthSun1">2</td>
    </tr>
    <tr></tr>
    <tr>
        <td id="MonthMon2">3</td>
        <td id="MonthTue2">4</td>
        <td id="MonthWed2">5</td>
        <td id="MonthThu2">6</td>
        <td id="MonthFri2">7</td>
        <td id="MonthSat2">8</td>
        <td id="MonthSun2">9</td>
    </tr>
    <tr>
        <td id="MonthMon3">10</td>
        <td id="MonthTue3">11</td>
        <td id="MonthWed3">12</td>
        <td id="MonthThu3">13</td>
        <td id="MonthFri3">14</td>
        <td id="MonthSat3">15</td>
        <td id="MonthSun3">16</td>
    </tr>
    <tr>
        <td id="MonthMon4">17</td>
        <td id="MonthTue4">18</td>
        <td id="MonthWed4">19</td>
        <td id="MonthThu4">20</td>
        <td id="MonthFri4">21</td>
        <td id="MonthSat4">22</td>
        <td id="MonthSun4">23</td>
    </tr>
    <tr>
        <td id="MonthMon6">24</td>
        <td id="MonthTue6">25</td>
        <td id="MonthWed6">26</td>
        <td id="MonthThu6">27</td>
        <td id="MonthFri6">28</td>
        <td id="MonthSat6">29</td>
        <td id="MonthSun6">30</td>
    </tr>
    <tr>
        <td id="MonthMon7">31</td>
        <td id="MonthTue7">1</td>
        <td id="MonthWed7">2</td>
        <td id="MonthThu7">3</td>
        <td id="MonthFri7">4</td>
        <td id="MonthSat7">5</td>
        <td id="MonthSun7">6</td>
    </tr>
    </tbody>
</table>