<div class="frame">
    <table align="center" cellpadding="21"
           cellspacing="21" class="calendarDay">

        <caption align="top">

        </caption>

        <thead>
        <tr>
            <th class="secondTh"></th>
            <th class="secondTh">Jour</th>
        </tr>
        </thead>

        <tbody class="firstBody">
        <tr>
            <td class="column">0h</td>
            <td class="line" id="Day0"></td>
        </tr>
        <tr>
            <td class="column">1h</td>
            <td class="line" id="Day1"></td>
        </tr>
        <tr>
            <td class="column">2h</td>
            <td class="line" id="Day2"></td>
        </tr>
        <tr>
            <td class="column">3h</td>
            <td class="line" id="Day3"></td>
        </tr>
        <tr></tr>
        <tr>
            <td class="column">4h</td>
            <td class="line" id="Day4"></td>
        </tr>
        <tr>
            <td class="column">5h</td>
            <td class="line" id="Day5"></td>
        </tr>
        <tr>
            <td class="column">6h</td>
            <td class="line" id="Day6"></td>
        </tr>
        <tr>
            <td class="column">7h</td>
            <td class="line" id="Day7"></td>
        </tr>
        <tr>
            <td class="column">8h</td>
            <td class="line" id="Day8"></td>
        </tr>
        <tr>
            <td class="column">9h</td>
            <td class="line" id="Day9"></td>
        </tr>
        <tr>
            <td class="column">10h</td>
            <td class="line" id="Day10"></td>
        </tr>
        <tr>
            <td class="column">11h</td>
            <td class="line" id="Day11"></td>
        </tr>
        <tr>
            <td class="column">12h</td>
            <td class="line" id="Day12"></td>
        </tr>
        <tr>
            <td class="column">13h</td>
            <td class="line" id="Day13"></td>
        </tr>
        <tr>
            <td class="column">14h</td>
            <td class="line" id="Day14"></td>
        </tr>
        <tr>
            <td class="column">15h</td>
            <td class="line" id="Day15"></td>
        </tr>
        <tr>
            <td class="column">16h</td>
            <td class="line" id="Day16"></td>
        </tr>
        <tr>
            <td class="column">17h</td>
            <td class="line" id="Day17"></td>
        </tr>
        <tr>
            <td class="column">18h</td>
            <td class="line" id="Day18"></td>
        </tr>
        <tr>
            <td class="column">19h</td>
            <td class="line" id="Day19"></td>
        </tr>
        <tr>
            <td class="column">20h</td>
            <td class="line" id="Day20"></td>
        </tr>
        <tr>
            <td class="column">21h</td>
            <td class="line" id="Day21"></td>
        </tr>
        <tr>
            <td class="column">22h</td>
            <td class="line" id="Day22"></td>
        </tr>
        <tr>
            <td class="column">23h</td>
            <td class="line" id="Day23"></td>
        </tr>
        </tbody>
    </table>
</div>