<table bgcolor="lightgrey" align="center"
       cellspacing="21" cellpadding="21">

    <caption align="top">

    </caption>

    <thead>
    <tr>
        <th></th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>0h</td>
        <td id="WeekMon0"></td>
        <td id="WeekTue0"></td>
        <td id="WeekWed0"></td>
        <td id="WeekThu0"></td>
        <td id="WeekFri0"></td>
        <td id="WeekSat0"></td>
        <td id="WeekMun0"></td>
    </tr>
    <tr>
        <td>2h</td>
        <td id="WeekMon2"></td>
        <td id="WeekTue2"></td>
        <td id="WeekWed2"></td>
        <td id="WeekThu2"></td>
        <td id="WeekFri2"></td>
        <td id="WeekSat2"></td>
        <td id="WeekMun2"></td>
    </tr>
    <tr>
        <td>4h</td>
        <td id="WeekMon4"></td>
        <td id="WeekTue4"></td>
        <td id="WeekWed4"></td>
        <td id="WeekThu4"></td>
        <td id="WeekFri4"></td>
        <td id="WeekSat4"></td>
        <td id="WeekMun4"></td>
    </tr>
    <tr>
        <td>6h</td>
        <td id="WeekMon6"></td>
        <td id="WeekTue6"></td>
        <td id="WeekWed6"></td>
        <td id="WeekThu6"></td>
        <td id="WeekFri6"></td>
        <td id="WeekSat6"></td>
        <td id="WeekMun6"></td>
    </tr>
    <tr>
        <td>8h</td>
        <td id="WeekMon8"></td>
        <td id="WeekTue8"></td>
        <td id="WeekWed8"></td>
        <td id="WeekThu8"></td>
        <td id="WeekFri8"></td>
        <td id="WeekSat8"></td>
        <td id="WeekMun8"></td>
    </tr>
    <tr></tr>
    <tr>
        <td>10h</td>
        <td id="WeekMon10"></td>
        <td id="WeekTue10"></td>
        <td id="WeekWed10"></td>
        <td id="WeekThu10"></td>
        <td id="WeekFri10"></td>
        <td id="WeekSat10"></td>
        <td id="WeekMun10"></td>
    </tr>
    <tr>
        <td>12h</td>
        <td id="WeekMon12"></td>
        <td id="WeekTue12"></td>
        <td id="WeekWed12"></td>
        <td id="WeekThu12"></td>
        <td id="WeekFri12"></td>
        <td id="WeekSat12"></td>
        <td id="WeekMun12"></td>
    </tr>
    <tr>
        <td>14h</td>
        <td id="WeekMon14"></td>
        <td id="WeekTue14"></td>
        <td id="WeekWed14"></td>
        <td id="WeekThu14"></td>
        <td id="WeekFri14"></td>
        <td id="WeekSat14"></td>
        <td id="WeekMun14"></td>
    </tr>
    <tr>
        <td>16h</td>
        <td id="WeekMon16"></td>
        <td id="WeekTue16"></td>
        <td id="WeekWed16"></td>
        <td id="WeekThu16"></td>
        <td id="WeekFri16"></td>
        <td id="WeekSat16"></td>
        <td id="WeekMun16"></td>
    </tr>
    <tr>
        <td>18h</td>
        <td id="WeekMon18"></td>
        <td id="WeekTue18"></td>
        <td id="WeekWed18"></td>
        <td id="WeekThu18"></td>
        <td id="WeekFri18"></td>
        <td id="WeekSat18"></td>
        <td id="WeekMun18"></td>
    </tr>
    <tr>
        <td>20h</td>
        <td id="WeekMon20"></td>
        <td id="WeekTue20"></td>
        <td id="WeekWed20"></td>
        <td id="WeekThu20"></td>
        <td id="WeekFri20"></td>
        <td id="WeekSat20"></td>
        <td id="WeekMun20"></td>
    </tr>
    <tr>
        <td>22h</td>
        <td id="WeekMon22"></td>
        <td id="WeekTue22"></td>
        <td id="WeekWed22"></td>
        <td id="WeekThu22"></td>
        <td id="WeekFri22"></td>
        <td id="WeekSat22"></td>
        <td id="WeekMun22"></td>
    </tr>
    </tbody>
</table>