<div class="frame">
    <table align="center" cellpadding="21"
           cellspacing="21" class="calendarMonth">

        <caption align="top">

        </caption>

        <thead>
        <tr>
            <th>Lundi</th>
            <th>Mardi</th>
            <th>Mercredi</th>
            <th>Jeudi</th>
            <th>Vendredi</th>
            <th>Samedi</th>
            <th>Dimanche</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td class="line" id="Month1"></td>
            <td class="line" id="Month2"></td>
            <td class="line" id="Month3"></td>
            <td class="line" id="Month4"></td>
            <td class="line" id="Month5"></td>
            <td class="line" id="Month6"></td>
            <td class="line" id="Month7"></td>
        </tr>
        <tr></tr>
        <tr>
            <td class="line" id="Month8"></td>
            <td class="line" id="Month9"></td>
            <td class="line" id="Month10"></td>
            <td class="line" id="Month11"></td>
            <td class="line" id="Month12"></td>
            <td class="line" id="Month13"></td>
            <td class="line" id="Month14"></td>
        </tr>
        <tr>
            <td class="line" id="Month15"></td>
            <td class="line" id="Month16"></td>
            <td class="line" id="Month17"></td>
            <td class="line" id="Month18"></td>
            <td class="line" id="Month19"></td>
            <td class="line" id="Month20"></td>
            <td class="line" id="Month21"></td>
        </tr>
        <tr>
            <td class="line" id="Month22"></td>
            <td class="line" id="Month23"></td>
            <td class="line" id="Month24"></td>
            <td class="line" id="Month25"></td>
            <td class="line" id="Month26"></td>
            <td class="line" id="Month27"></td>
            <td class="line" id="Month28"></td>
        </tr>
        <tr>
            <td class="line" id="Month29"></td>
            <td class="line" id="Month30"></td>
            <td class="line" id="Month31"></td>
            <td class="line" id="Month32"></td>
            <td class="line" id="Month33"></td>
            <td class="line" id="Month34"></td>
            <td class="line" id="Month35"></td>
        </tr>
        <tr>
            <td class="line" id="Month36"></td>
            <td class="line" id="Month37"></td>
            <td class="line" id="Month38"></td>
            <td class="line" id="Month39"></td>
            <td class="line" id="Month40"></td>
            <td class="line" id="Month41"></td>
            <td class="line" id="Month42"></td>
        </tr>
        </tbody>
    </table>
</div>