<table bgcolor="lightgrey" align="center"
       cellspacing="21" cellpadding="21">

    <caption align="top">

    </caption>

    <thead>
    <tr>
        <th></th>
        <th>Day</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>0h</td>
        <td id="Day0"></td>
    </tr>
    <tr>
        <td>1h</td>
        <td id="Day1"></td>
    </tr>
    <tr>
        <td>2h</td>
        <td id="Day2"></td>
    </tr>
    <tr>
        <td>3h</td>
        <td id="Day3"></td>
    </tr>
    <tr></tr>
    <tr>
        <td>4h</td>
        <td id="Day4"></td>
    </tr>
    <tr>
        <td>5h</td>
        <td id="Day5"></td>
    </tr>
    <tr>
        <td>6h</td>
        <td id="Day6"></td>
    </tr>
    <tr>
        <td>7h</td>
        <td id="Day7"></td>
    </tr>
    <tr>
        <td>8h</td>
        <td id="Day8"></td>
    </tr>
    <tr>
        <td>9h</td>
        <td id="Day9"></td>
    </tr>
    <tr>
        <td>10h</td>
        <td id="Day10"></td>
    </tr>
    <tr>
        <td>11h</td>
        <td id="Day11"></td>
    </tr>
    <tr>
        <td>12h</td>
        <td id="Day12"></td>
    </tr>
    <tr>
        <td>13h</td>
        <td id="Day13"></td>
    </tr>
    <tr>
        <td>14h</td>
        <td id="Day14"></td>
    </tr>
    <tr>
        <td>15h</td>
        <td id="Day15"></td>
    </tr>
    <tr>
        <td>16h</td>
        <td id="Day16"></td>
    </tr>
    <tr>
        <td>17h</td>
        <td id="Day17"></td>
    </tr>
    <tr>
        <td>18h</td>
        <td id="Day18"></td>
    </tr>
    <tr>
        <td>19h</td>
        <td id="Day19"></td>
    </tr>
    <tr>
        <td>20h</td>
        <td id="Day20"></td>
    </tr>
    <tr>
        <td>21h</td>
        <td id="Day21"></td>
    </tr>
    <tr>
        <td>22h</td>
        <td id="Day22"></td>
    </tr>
    <tr>
        <td>23h</td>
        <td id="Day23"></td>
    </tr>
    </tbody>
</table>