<table bgcolor="lightgrey" align="center"
       cellspacing="21" cellpadding="21">

    <caption align="top">

    </caption>

    <thead>
    <tr>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td id="Month1"></td>
        <td id="Month2"></td>
        <td id="Month3"></td>
        <td id="Month4"></td>
        <td id="Month5"></td>
        <td id="Month6"></td>
        <td id="Month7"></td>
    </tr>
    <tr></tr>
    <tr>
        <td id="Month8"></td>
        <td id="Month9"></td>
        <td id="Month10"></td>
        <td id="Month11"></td>
        <td id="Month12"></td>
        <td id="Month13"></td>
        <td id="Month14"></td>
    </tr>
    <tr>
        <td id="Month15"></td>
        <td id="Month16"></td>
        <td id="Month17"></td>
        <td id="Month18"></td>
        <td id="Month19"></td>
        <td id="Month20"></td>
        <td id="Month21"></td>
    </tr>
    <tr>
        <td id="Month22"></td>
        <td id="Month23"></td>
        <td id="Month24"></td>
        <td id="Month25"></td>
        <td id="Month26"></td>
        <td id="Month27"></td>
        <td id="Month28"></td>
    </tr>
    <tr>
        <td id="Month29"></td>
        <td id="Month30"></td>
        <td id="Month31"></td>
        <td id="Month32"></td>
        <td id="Month33"></td>
        <td id="Month34"></td>
        <td id="Month35"></td>
    </tr>
    <tr>
        <td id="Month36"></td>
        <td id="Month37"></td>
        <td id="Month38"></td>
        <td id="Month39"></td>
        <td id="Month40"></td>
        <td id="Month41"></td>
        <td id="Month42"></td>
    </tr>
    </tbody>
</table>