<div class="frame">
    <table align="center" cellpadding="21"
           cellspacing="21" class="calendarWeek">

        <caption align="top">

        </caption>

        <thead>
        <tr>
            <th></th>
            <th>Lundi</th>
            <th>Mardi</th>
            <th>Mercredi</th>
            <th>Jeudi</th>
            <th>Vendredi</th>
            <th>Samedi</th>
            <th>Dimanche</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td class="column">0h</td>
            <td class="line" id="WeekMon0"></td>
            <td class="line" id="WeekTue0"></td>
            <td class="line" id="WeekWed0"></td>
            <td class="line" id="WeekThu0"></td>
            <td class="line" id="WeekFri0"></td>
            <td class="line" id="WeekSat0"></td>
            <td class="line" id="WeekMun0"></td>
        </tr>
        <tr>
            <td class="column">2h</td>
            <td class="line" id="WeekMon2"></td>
            <td class="line" id="WeekTue2"></td>
            <td class="line" id="WeekWed2"></td>
            <td class="line" id="WeekThu2"></td>
            <td class="line" id="WeekFri2"></td>
            <td class="line" id="WeekSat2"></td>
            <td class="line" id="WeekMun2"></td>
        </tr>
        <tr>
            <td class="column">4h</td>
            <td class="line" id="WeekMon4"></td>
            <td class="line" id="WeekTue4"></td>
            <td class="line" id="WeekWed4"></td>
            <td class="line" id="WeekThu4"></td>
            <td class="line" id="WeekFri4"></td>
            <td class="line" id="WeekSat4"></td>
            <td class="line" id="WeekMun4"></td>
        </tr>
        <tr>
            <td class="column">6h</td>
            <td class="line" id="WeekMon6"></td>
            <td class="line" id="WeekTue6"></td>
            <td class="line" id="WeekWed6"></td>
            <td class="line" id="WeekThu6"></td>
            <td class="line" id="WeekFri6"></td>
            <td class="line" id="WeekSat6"></td>
            <td class="line" id="WeekMun6"></td>
        </tr>
        <tr>
            <td class="column">8h</td>
            <td class="line" id="WeekMon8"></td>
            <td class="line" id="WeekTue8"></td>
            <td class="line" id="WeekWed8"></td>
            <td class="line" id="WeekThu8"></td>
            <td class="line" id="WeekFri8"></td>
            <td class="line" id="WeekSat8"></td>
            <td class="line" id="WeekMun8"></td>
        </tr>
        <tr></tr>
        <tr>
            <td class="column">10h</td>
            <td class="line" id="WeekMon10"></td>
            <td class="line" id="WeekTue10"></td>
            <td class="line" id="WeekWed10"></td>
            <td class="line" id="WeekThu10"></td>
            <td class="line" id="WeekFri10"></td>
            <td class="line" id="WeekSat10"></td>
            <td class="line" id="WeekMun10"></td>
        </tr>
        <tr>
            <td class="column">12h</td>
            <td class="line" id="WeekMon12"></td>
            <td class="line" id="WeekTue12"></td>
            <td class="line" id="WeekWed12"></td>
            <td class="line" id="WeekThu12"></td>
            <td class="line" id="WeekFri12"></td>
            <td class="line" id="WeekSat12"></td>
            <td class="line" id="WeekMun12"></td>
        </tr>
        <tr>
            <td class="column">14h</td>
            <td class="line" id="WeekMon14"></td>
            <td class="line" id="WeekTue14"></td>
            <td class="line" id="WeekWed14"></td>
            <td class="line" id="WeekThu14"></td>
            <td class="line" id="WeekFri14"></td>
            <td class="line" id="WeekSat14"></td>
            <td class="line" id="WeekMun14"></td>
        </tr>
        <tr>
            <td class="column">16h</td>
            <td class="line" id="WeekMon16"></td>
            <td class="line" id="WeekTue16"></td>
            <td class="line" id="WeekWed16"></td>
            <td class="line" id="WeekThu16"></td>
            <td class="line" id="WeekFri16"></td>
            <td class="line" id="WeekSat16"></td>
            <td class="line" id="WeekMun16"></td>
        </tr>
        <tr>
            <td class="column">18h</td>
            <td class="line" id="WeekMon18"></td>
            <td class="line" id="WeekTue18"></td>
            <td class="line" id="WeekWed18"></td>
            <td class="line" id="WeekThu18"></td>
            <td class="line" id="WeekFri18"></td>
            <td class="line" id="WeekSat18"></td>
            <td class="line" id="WeekMun18"></td>
        </tr>
        <tr>
            <td class="column">20h</td>
            <td class="line" id="WeekMon20"></td>
            <td class="line" id="WeekTue20"></td>
            <td class="line" id="WeekWed20"></td>
            <td class="line" id="WeekThu20"></td>
            <td class="line" id="WeekFri20"></td>
            <td class="line" id="WeekSat20"></td>
            <td class="line" id="WeekMun20"></td>
        </tr>
        <tr>
            <td class="column">22h</td>
            <td class="line" id="WeekMon22"></td>
            <td class="line" id="WeekTue22"></td>
            <td class="line" id="WeekWed22"></td>
            <td class="line" id="WeekThu22"></td>
            <td class="line" id="WeekFri22"></td>
            <td class="line" id="WeekSat22"></td>
            <td class="line" id="WeekMun22"></td>
        </tr>
        </tbody>
    </table>
</div>