<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 401</title>
    <link href="/assets/croissant.png" rel="icon" type="image/png"/>
    <link href="../css/error.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <div class="txt"><a>Vous devez vous connecter pour accéder à cette ressource !</a> <a
            href="/login">Connectez-vous</a> !
    </div>
    <img alt="Error 401" src="../assets/error401.jpg">
</div>
</body>
</html>