<!DOCTYPE html>
<html lang="en">
<head>
    <title>DunPepene's Login</title>
    <link rel="icon" type="image/png" href="/assets/melon_slice.png"/>
    <link rel="stylesheet" href="../css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
<form method="post">
    <h3>Login Here</h3>

    <label for="email"></label>
    <input type="text" placeholder="Email" id="email">

    <label for="password"></label>
    <input type="password" placeholder="Password" id="password">

    <button>Log In</button>
    <br>
    <br>
    <a>Don't have an account ?</a> <a href=/register">Register now</a>
</form>
<script src="public/controllers/login.js"></script>
</body>
</html>
