<!DOCTYPE html>
<html lang="en">
<head>
    <title>DunPepene's Login</title>
    <link href="/assets/croissant.png" rel="icon" type="image/png"/>
    <link href="../css/login.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
<form method="post">
    <h3>Connexion</h3>

    <label for="email"></label>
    <input id="email" placeholder="Mail" type="text">
    <p class="left">Exemple de mail valide <span data-tooltip="dunpepene@fst.fr">i</span></p>

    <label for="password"></label>
    <input id="password" placeholder="Mot de passe" type="password">
    <p class="left">Format de mot de passe valide <span
            data-tooltip="Le mot de passe doit contenir 8 caractères dont 1 majuscule et 1 chiffre.">i</span></p>

    <button class="bigButton">Se connecter</button>
    <br>
    <br>
    <div class="center"><a>Vous n'avez pas de compte ?</a> <a href="/register">Inscrivez-vous</a> !</div>
</form>
<script src="../controllers/login.js"></script>
</body>
</html>
