<!DOCTYPE html>
<html lang="en">
<head>
    <title>DunPepene's Login</title>
    <link href="/assets/croissant.png" rel="icon" type="image/png"/>
    <link href="../css/login.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
<form method="post">
    <h3>Login Here</h3>

    <label for="email"></label>
    <input id="email" placeholder="Email" type="text">

    <label for="password"></label>
    <input id="password" placeholder="Password" type="password">

    <button class="bigButton">Log In</button>
    <br>
    <br>
    <a>Don't have an account ?</a> <a href="/register">Register now</a>
</form>
<script src="../controllers/login.js"></script>
</body>
</html>
