<!DOCTYPE html>
<html lang="en">
<head>
    <title>DunPepene's Register</title>
    <link rel="icon" type="image/png" href="/assets/melon_slice.png" />
    <link rel="stylesheet" href="public/css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
<form>
    <h3>Register Here</h3>

    <label for="username"></label>
    <input type="text" placeholder="User Name" id="username">

    <label for="email"></label>
    <input type="text" placeholder="Email" id="email">

    <label for="password"></label>
    <input type="password" placeholder="Password" id="password">

    <label for="confirm_password"></label>
    <input type="password" placeholder="Confirm Password" id="confirm_password">

    <button>Register</button>
</form>
</body>
</html>
