<!DOCTYPE html>
<html lang="en">
<head>
    <title>DunPepene's Register</title>
    <link href="/assets/croissant.png" rel="icon" type="image/png"/>
    <link href="../css/register.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
<form method="post">
    <h3>Inscription</h3>

    <label for="username"></label>
    <input id="username" placeholder="Nom d'utilisateur" type="text">

    <label for="email"></label>
    <input id="email" placeholder="Mail" type="text">

    <label for="password"></label>
    <input id="password" placeholder="Mot de passe" type="password">

    <label for="confirm_password"></label>
    <input id="confirm_password" placeholder="Confirmation de mot de passe" type="password">

    <button class="bigButton">S'inscrire</button>
    <br>
    <br>
    <div class="center"><a>Vous avez déjà un compte ?</a> <a href="/login">Connectez-vous</a></div>
</form>
<script src="../controllers/register.js"></script>
</body>
</html>
