*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

form {
    height: 480px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgb(215, 183, 156);
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: rgb(215, 183, 156);
    letter-spacing: 0.5px;
    outline: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    border-color: #D7B79CFF;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #000000;
}

button {
    margin-top: 50px;
    width: 100%;
    background-color: rgb(215, 183, 156);
    color: #000000;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.center {
    text-align: center;
}

[data-tooltip] {
    position: relative;
    cursor: pointer;
    background: #d6b79c;
    color: white;
    font-size: 12px;
    border-radius: 1em;
    padding: 0 0.5em;
}

[data-tooltip]:before {
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    width: 150px;
    transform:translateX(-50%);
    bottom: 25px;
    padding: 0.5em;
    background-color: #d6b79c;
    border-radius: 0.25em;
    color: white;
    text-align: center;
    transition:0.2s;
}

[data-tooltip]:after {
    content: "";
    position: absolute;
    opacity: 0;
    bottom: 15px;
    margin-left: -5px;
    border: 5px solid #d6b79c;
    border-color: #d6b79c transparent transparent transparent;
    transition:0.2s;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    opacity: 1;
}