body {
    background-color: rgb(255, 255, 255);
}

#menu {
    display: inline-block;
    height: 600px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.13);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgb(215, 183, 156);
    padding: 50px 35px;
}

button {
    display: block;
    margin-top: 50px;
    width: 100%;
    background-color: rgb(215, 183, 156);
    color: #000000;
    padding: 15px;
    font-size: 32px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 13px;
}

.titleDate {
    color: #d6b79c;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.menu2 {
    display: flex;
}

.frame {
    background-color: rgb(215, 183, 156);
    box-shadow: 0 0 40px rgb(215, 183, 156);
    border-radius: 10px;
    padding-bottom: 30px;
}

.calendarDay {
    width: 40%;
    height: 40%;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    border-collapse: collapse;
    table-layout: fixed;
    border-spacing: 0;
    padding-left: 30px;
}

.calendarWeek {
    width: 90%;
    height: 90%;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    border-collapse: collapse;
    table-layout: fixed;
    border-spacing: 0;
    padding-left: 30px;
}

.calendarMonth {
    width: 90%;
    height: 90%;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    border-collapse: collapse;
    table-layout: fixed;
    border-spacing: 0;
    padding-left: 30px;
}

.line {
    border: 2.5px solid black;
    padding: 10px;
    text-align: center;
    width: 50%;
}

.column {
    text-align: center;
}