body {
    background-color: rgb(255, 255, 255);
}

#menu {
    display: inline-block;
    height: 600px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.13);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgb(255, 255, 255);
    padding: 50px 35px;
}

.bigButton {
    display: block;
    margin-top: 50px;
    width: 100%;
    background-color: rgb(215, 183, 156);
    color: #000000;
    padding: 15px;
    font-size: 32px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 13px;
}

.titleDate {
    color: #d6b79c;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.menu2 {
    display: flex;
}

.frame {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 40px rgb(215, 183, 156);
    border-radius: 10px;
    padding-bottom: 30px;
}

.calendarDay {
    width: 80%;
    height: 90%;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    border-collapse: collapse;
    table-layout: fixed;
    border-spacing: 0;
    padding-left: 30px;
}

.calendarWeek {
    width: 90%;
    height: 90%;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    border-collapse: collapse;
    table-layout: fixed;
    border-spacing: 0;
    padding-left: 30px;
}

.calendarMonth {
    width: 90%;
    height: 90%;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    border-collapse: collapse;
    table-layout: fixed;
    border-spacing: 0;
    padding-left: 30px;
}

.line {
    border: 2.5px solid #d7b79c;
    padding: 10px;
    text-align: center;
    width: 50%;
}

.column {
    text-align: center;
}

.firstBody .secondTh{
    text-align:right;
}

.secondTh:nth-child(1){
    width:50px;
}

.redEvent{
    background-color: #e3806d;

    display: block;
    margin-top: 10px;
    width: 100%;
    color: #000000;
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 13px;
}

.orangeEvent{
    background-color: #e1b377;

    display: block;
    margin-top: 10px;
    width: 100%;
    color: #000000;
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 13px;
}

.yellowEvent{
    background-color: #e2ce6a;

    display: block;
    margin-top: 10px;
    width: 100%;
    color: #000000;
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 13px;
}

.greenEvent{
    background-color: #92ce6f;

    display: block;
    margin-top: 10px;
    width: 100%;
    color: #000000;
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 13px;
}

.empty{
    background-color: #f5eae4;
}

.circle{
    margin-left: auto;
    margin-right: auto;
    background: rgb(172, 235, 255);
    border-radius:50%;
    width:35px;
    height:35px;
    border:2px solid rgba(0, 60, 255, 0.68);
}